<!DOCTYPE html>
<html>
<head>
  <title>TeamNote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="navbar span12">
      <a href="/" class="logo">TeamNote</a>
      <div class="notice"><%= notice %></div>
      <%= link_to raw("<div class='plus'>+</div> Create a new note"), new_note_path, class: "navlink" %>
    </div>
  </div>
  <%= yield %>

  <div class="row">
    <div class="footer span12">
      &copy; 2013 TeamNote
    </div>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>